{
	"extends": ["plugin:vue/recommended", "airbnb-base"],
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"extensions": [
					".js",
					".vue",
					".json"
				],
				"map": [
					["@", "./resources/js"]
				]
			}
		}
	},
	"rules": {
		"vue/html-indent": [
			"error",
			"tab",
			{
				"attribute": 1,
				"closeBracket": 0,
				"alignAttributesVertically": true,
				"ignores": []
			}
		],
		"vue/prop-name-casing": "off",
		"import/no-extraneous-dependencies": "off",
		"indent": ["error", "tab", {"SwitchCase": 1}],
		"semi": ["error", "always"],
		"no-else-return": "error",
		"eol-last": ["error", "always"],
		"no-tabs": "off",
		"no-param-reassign": "off",
		"no-underscore-dangle": "off",
		"camelcase": "off"
	},
	"globals": { "_": true }
}